@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.bgImg {
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(./Img/unity1.jpg);
    width: 90%;
    height: 80vh;
    margin: auto;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgImg h1{
    color: white;
    font-size: 75px;
    letter-spacing: 7px;
}

/* <!-- ------------------------------------------------------------------------------------------------ -->

<!-- ---------------------------------------Background Img------------------------------------------- --> */

.heading{
    width: 50%;
    margin: 25px auto;
    height: 100%;
}

.heading ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading ul li{
    list-style: none;
    padding: 10px;
    font-size: 19px;
}

.heading ul li a{
    color: blue;
    text-decoration: none;
}

/* <!-- ------------------------------------------------------------------------------------------------ -->

<!-- -----------------------------------------Paras----------------------------------------------- --> */

.paras{
    width: 80%;
    margin: auto;
}

.paras p{
    text-align: center;
    font-size: 19px;
    color: gray;
}

/* <!-- ------------------------------------------------------------------------------------------------ -->
